# Java / Maven
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.db
.mvn/
.metadata/
bin/

# Node / React
**/node_modules/
**/dist/
**/mta_archives/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath

# OS and Logs
*.log
Thumbs.db
.DS_Store
